.most-viewed-card {
  max-width: 400px;

  .general-container {


    margin-bottom: 2rem;
    .container {

      .header-container{

        .title {
          padding-top: 2rem;
          padding-bottom: 1rem;
          text-align: center;
        }
      }

      .img-container {
        text-align: center;

        img{
          width: 20rem;
        }
      }
    }
  }
}



