<section class="row d-flex justify-content-evenly">

  <div class="card movie-card" *ngFor="let movie of allMovies;  let i = index">

    <div class="card-body">
      <h5 class="card-title text-center">{{movie.title}}</h5>
      <p class="card-text">{{movie.genre}}</p>
    </div>

    <img [src]="movie.image" class="movie-img" [alt]="movie.title">

    <div class="card-body">
      <p class="card-text text-center">{{movie.description}}</p>
    </div>

    <div class="btn-container text-center">
      <button mat-button (click)="addToCart(movie.id)">ADD TO CART</button>
    </div>

  </div>

</section>

