<section class="container">

  <form [formGroup]="loginForm">

    <!-- Image -->
    <div class="col-auto image">
      <img src="../../../assets/icon-login2.png" id="icon" alt="User Icon" />
    </div>

    <!-- User -->
    <div class="mb-3 row align-items-center form-group">
      <div class="row">
        <label class="col-sm-2 col-form-label">User</label>
      </div>

      <div class="col-sm-10 input-size">
        <input type="text" class="form-control" id="staticUser" formControlName="user">
      </div>
    </div>

    <!-- User Validation -->
    <div class="pop-alert">
      <div class="alert alert-danger" *ngIf="loginForm.controls['user'].invalid && (loginForm.controls['user'].dirty || loginForm.controls['user'].touched)">

        <div *ngIf="loginForm.controls['user'].hasError('required')">
          Add you user
        </div>

      </div>
    </div>

    <!-- Password -->
    <div class="mb-3 row">
      <div class="row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      </div>

      <div class="col-sm-10 input-size">
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
      </div>
    </div>

    <!-- Password Validation -->
    <div class="pop-alert">
      <div class ="alert alert-danger" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">

        <div *ngIf="loginForm.controls['password'].hasError('required')">
          Input a password
        </div>

        <div *ngIf="loginForm.controls['password'].hasError('minlength')">
          Password must has at least 8 characters
        </div>

      </div>
    </div>

    <p *ngIf="error" class="error">
      {{ error }}
    </p>

    <!-- Button Send -->
    <div class="btn-send row">
      <button class="btn btn-primary" (click)="sendLogin()" [disabled]="loginForm.invalid">Sign in</button>
    </div>


  </form>

</section>
