@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
nav {

  .title {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(182, 0, 9);
  }

  .collapse{

    .logout{
      font-weight: bolder;
      color: rgb(182, 0, 9);
      padding: 0.5rem;
      padding-left: 37rem;

      span{
        cursor: pointer;
      }
    }
  }

}

.slogan{
  padding: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Neonderthaw', cursive;
  color: rgb(156, 11, 11);
  line-height: 1;
}
