<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="movie" class="title">{{title}}</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        <a class="nav-link" routerLinkActive="active" routerLink="register">Register</a>
        <a class="nav-link" routerLinkActive="active" routerLink="movie">Movies</a>
        <a class="nav-link" routerLinkActive="active" routerLink="cart">Cart</a>
        <a class="nav-link" routerLinkActive="active" routerLink="mostViews">Most Views</a>
        <a class="nav-link" routerLinkActive="active" routerLink="admin">Admin</a>

      </div>
    </div>
  </div>
</nav>
