.card-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .card{
    margin-right: 4rem;

    .card-body{

      .btn-container{

        text-align: center;

        .btn-info{
          background-color: rgb(182, 0, 9);
          border: 1px solid rgba(138, 5, 27, 0.678);
          width: 8rem;
        }

        .btn-info:hover{
          background-color: rgba(182, 0, 9, 0.583);
          border: 1px solid rgba(138, 5, 27, 0.678);
        }
      }
    }
  }

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .pseudolcontainer{
      padding: 0.3rem 0;

      .psudolabel{
        font-weight: bolder;
      }
    }
  }

  .mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
    background-color: #aa0011;
}
}
